# Versions ###############################
PHP_VERSION=8.0
MYSQL_VERSION=8.0
APACHE_VERSION=2.4.53
NGINX_VERSION=latest
SWOOLE_VERSION=latest
POSTGRES_VERSION=14.2

# Config ###############################
MYSQL_PASSWORD=admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
